/* src/components/DashboardContent/DashboardContent.module.css */

.dashboardContentContainer {
  display: flex;
  flex-direction: column;
}

.gridContainer {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  align-items: start;
}

.packageGridContainer {
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
