/* src/components/DashboardContent/DashboardContent.module.css */

.dashboardContentContainer {
  display: flex;
  flex-direction: column;
}

.gridContainer {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  align-items: start;
}

.packageGridContainer {
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.clickableHeader {
  color: #000; /* Set the normal color */
  text-decoration: none; /* Remove underline */
  font-size: 32px;
  display: inline-flex; /* Ensure the clickable area is just the text */
  align-items: center;
}

.clickableHeader:hover {
  color: #0000008f; 
}

.linkIcon {
  color: #000; /* Set the normal color */
  margin-left: 5px;
  font-size: 28px;
}

.linkIcon:hover {
  color: #0000008f; 
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pageButton,
.activePageButton {
  border: 1px solid #0070f3;
  background-color: white;
  color: #0070f3;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.activePageButton {
  background-color: #0070f3;
  color: white;
}

.pageButton:hover {
  background-color: #0070f3;
  color: white;
}