
.filterContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 8px;
}

.filterText {
  margin-right: 6px;
  font-weight: bold;
}

.dropdownFilterSection {
  display: flex;
  align-items: center;
  gap: 18px;
}

.statusFilterSection {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filterDropdown {
  margin-left: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.filterOption {
  padding: 8px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.filterOption:hover {
  background-color: #f0f0f0;
}

.selected {
  border-color: #10eb31;
  background-color: #e0f7fa;
}