/* components/PackageCard/PackageCard.module.css */

.card {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 5px 6px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 200px; /* Fixed width */
  height: 300px; /* Fixed height */
  transition: color 0.3s ease;
}

.details {
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.icon {
  color: gold; 
  font-size: 36px;
  transition: color 0.3s ease;
}

.type {
  font-size: 16px;
  color: #0070f3;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.date {
  font-size: 14px;
  color: #555;
}

.templateCard {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 200px; /* Same width as card */
  height: 300px; /* Same height as card */
  background-color: #f9f9f9; /* Lighter background for template card */
  border: 2px dashed #ccc; /* Dashed border for template card */
}

.plusIcon {
  font-size: 48px;
  color: #666;
}

.plusIcon:hover {
  color: #333;
}

.card:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.icon:hover {
  color: darkgoldenrod; /* Change icon color on hover */
}