/* src/app/dashboard/DashboardPage.module.css */

.dashboardContainer {

  padding: 20px;
}

.gridContainer {

  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  align-items: start;
}

.packageGridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0px;
}