.dashboardContainer {
  padding: 20px;
}

.gridContainer {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  align-items: start;
}

.packageGridContainer {
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.filterContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filterContainer button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.filterContainer button:hover {
  background-color: #0056b3;
}